body {
  font-size: 32px;
  font-family: "Gill Sans", Tahoma, Verdana, Geneva, sans-serif;
  color: #fff;
  --blur-radius: 8px;
  text-shadow: 2px 2px var(--blur-radius) #444, -1px -1px var(--blur-radius) #444, -1px 1px var(--blur-radius) #444, 1px -1px var(--blur-radius) #444;
  width: 100%;
  height: 100%;
  margin: 0;
}
p {
  margin: 0;
}

#background {
  background-color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  height: 100vh;
  justify-content: space-evenly;
}

#content main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#content aside {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: #33333366;
  padding: 1em;
}

#content h2 {
  margin-top: 0;
}
